@import "tailwindcss";
@plugin "daisyui" {
  themes: autumn --default;
};

body {
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
